<br><br><br><center>
<body><div class="results"><br>
	<% if @users.empty? %>
		<h2>No GoJunkies match what you've selected.<br><br>Make sure you have selected at least one "interest" and try again.</h2>

	<% else %>
		<% @users.each do |user| %>
			<li><%= link_to user.name, user_path(user) %></li>
			<%= image_tag user.avatar.url(:thumb), :style => "border: 1px solid Cyan" %><br>
		<% end %>
	<% end %>
<br>
</div>
</body>
</center>

