<br><br><br><center>
<body><div class="users"><br>
<h2>Meet your fellow GoJunkies</h2>
<% @users.each do |user| %><br>
	<li><%= link_to user.name, user_path(user) %><br></li>
	<%= link_to user_path(user) do %>
	<%= image_tag user.avatar.url(:thumb), :style => "border: 1px solid Cyan" %><br>
<% end %><% end %>
</body><br><br></div>
</center>
