<p>Howdy <%= @resource.email %>!</p>

<p>Forgot your password, silly goose?  Confirm below to change it:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't actually request a password reset, go ahead and ignore this email.</p>
<p>Remember, your password won't change until you access the link above and create a new one.  That's how these confirmation emails work.</p>
